version: '3.6'

services:
  github-runner:
    image: ghcr.io/stonemaster/github-actions-runner:main
    container_name: githubrunner
    restart: always
    environment:
      - GITHUB_REPO_URL=https://github.com/stonemaster/github-actions-runner
      - RUNNER_TOKEN=
      # echo Hello World
      - PRE_JOB_SCRIPT=ZWNobyBIZWxsbyBXb3JsZAo=
      # echo I am done
      - POST_JOB_SCRIPT=ZWNobyBJIGFtIGRvbmUK
      # echo Shutting down
      - SHUTDOWN_RUNNER_SCRIPT=ZWNobyBTaHV0dGluZyBkb3duCg==

